
body{
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #091d2f;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2rem;
    background-color: #000000;
    border: none;
    color: #fff;
    border-radius: 1000px;
    font-size: 1.5rem;
    font-family: 'uber', serif;
}
button::after{
    height: 13%;
    width: 16%;
    content: '';
    position: absolute;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #ff00f2, #ffff00);
    z-index: -1;
}
button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #e100ffc7, -40px 0 100px #ffff00b2;
}