*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #acf5f5;
}
:root {
  --primary-color: #ff00af;
  --second-color: #ffcc00;
  --third-color: #00bbbb;
  --fourth-color: #0000ff;
  --text-color: #ffffff;
  --bg-color: #000000;
  --second-bg-color: #021e0b;
}


/* Progress Section Started */
.progress-container{
    width: 400px;
    height: 200px;
    border-radius: 15px;
  display: flex;
  position: absolute;
  background-color: #494740;
}
.progress-text h2{
  margin-top: 23px;
  padding-left: 90px;
  font-size: 1.5rem;
  color: var;
}
.progress-text span{
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: right;
  margin-left: 75px;
}
.progress-wrap{
  width: 100%;
  height: 100vh;
  display: flexbox;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.progress-bar{
  width: 275px;
  height: 12px;
  margin-left: 90px;
  margin-top: 8px;
  border-radius: 50px;
  background: var(--text-color);
}
.progress-bar div{
  width: 0%;
  height: 12px;
  border-radius: 50px;
}
.progress-bar div span{
  height: 30px;
  width: 30px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-right: -20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.project-done{
  display: flex;
  position: absolute;
}
.project-done h1{
  margin-top: 70px;
  padding-left: 100px;
} 
.project-done span{
  font-size: 2.5rem;
  text-align: center;
  align-content: center;
  color: var(--text-color);
}
.project-done span:hover{
  background: linear-gradient(
    270deg, #ffcc00 10%, #ff00af 100%);
  -webkit-background-clip: text;
  color: transparent;
}


.c{
  animation: c 1s linear forwards;
  background: linear-gradient(270deg, #ffcc00 10%, #ff00af 100%);
}
.c span{
  background: #ff00af;
  border: 1px solid #ff00af;
  box-shadow: 0 0 10px #ff00af, 0 0 15px #ff00af, 0 0 20px #ff00af;
}
@keyframes c{
  100%{
      width: 85%;
  }
}
